name: CI

on:
  push:
    branches:
      - master
      - dev
  pull_request:
    branches:
      - master
      - dev
env:
  DEVELOPER_DIR: /Applications/Xcode_11.4.app/Contents/Developer
  MACOS_SDK: macosx10.15

  PROJECT: AboutThisApp.xcodeproj
  SCHEME: AboutThisApp

  EXAMPLE_PROJ: Example/ExampleApp.xcodeproj
  EXAMPLE_SCHEME: ExampleApp

jobs:

  build-test-lint:
    name: Build, Test, Lint
    runs-on: macOS-latest
    steps:
      - name: git checkout
        uses: actions/checkout@v1

      - name: ruby versions
        run: |
          ruby --version
          gem --version
          bundler --version

      - name: cache gems
        uses: actions/cache@v1
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gem-

      - name: bundle install
        run: |
          bundle config path vendor/bundle
          bundle install --without=documentation --jobs 4 --retry 3
          echo "::add-path::/Users/runner/Library/Python/2.7/bin"

      - name: xcode version
        run: xcodebuild -version -sdk

      - name: list simulators
        run: xcrun simctl list

      - name: unit tests
        run: |
          set -o pipefail
          xcodebuild clean test \
              -project "$PROJECT" \
              -scheme "$SCHEME" \
              -sdk "$MACOS_SDK" \
              -destination "arch=x86_64" \
              ONLY_ACTIVE_ARCH=NO CODE_SIGNING_REQUIRED=NO | xcpretty -c

      - name: ui tests
        run: |
          set -o pipefail
          xcodebuild clean test \
              -project "$EXAMPLE_PROJ" \
              -scheme "$EXAMPLE_SCHEME" \
              -sdk "$MACOS_SDK" \
              -destination "arch=x86_64" \
              ONLY_ACTIVE_ARCH=NO CODE_SIGNING_REQUIRED=NO | xcpretty -c

      - name: jazzy docs
        run: ./scripts/build_docs.sh

      - name: danger
        env:
          DANGER_GITHUB_API_TOKEN: ${{ secrets.DANGER_GITHUB_API_TOKEN }}
        run: bundle exec danger
