# GitHub Actions Virtual Environments
# https://github.com/actions/virtual-environments/

name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  PROJECT: AboutThisApp.xcodeproj
  SCHEME: AboutThisApp

  EXAMPLE_PROJECT: Example/ExampleApp.xcodeproj
  EXAMPLE_SCHEME: ExampleApp

  DEVELOPER_DIR: /Applications/Xcode_15.1.app/Contents/Developer
  MACOS_DEST: "platform=macOS,arch=x86_64"

jobs:
  env-details:
    name: Environment details
    runs-on: macOS-13
    steps:
      - name: xcode version
        run: xcodebuild -version -sdk

  test-macOS:
    name: Unit Tests
    runs-on: macOS-13
    steps:
      - name: git checkout
        uses: actions/checkout@v6

      - name: unit tests
        run: |
          set -o pipefail
          xcodebuild clean test \
              -project "$PROJECT" \
              -scheme "$SCHEME" \
              -destination "$MACOS_DEST" \
              CODE_SIGN_IDENTITY="-" | xcpretty -c

  ui-test-macOS:
    name: UI Tests
    runs-on: macOS-13
    steps:
      - name: git checkout
        uses: actions/checkout@v6

      - name: ui tests
        run: |
          set -o pipefail
          xcodebuild clean test \
              -project "$EXAMPLE_PROJECT" \
              -scheme "$EXAMPLE_SCHEME" \
              -destination "$MACOS_DEST" \
              CODE_SIGN_IDENTITY="-" | xcpretty -c
